<head data-browser-ie="false" data-browser-ie9="false" data-browser-mobile="false" data-browser-tablet="false" data-controller-action="root" data-controller-name="pages" data-email_rfc_max_length="256" data-environment="production" data-fb_app_id="1438642769784622" data-km-sign-in-modal-tracking="true" data-km-sign-up-modal-tracking="true" data-mc_static_uri="https://d2w3nwo7h9oz5s.cloudfront.net" data-mc_uri="www.masterclass.com" data-nanigans="{&quot;type&quot;:&quot;visit&quot;,&quot;name&quot;:&quot;landing&quot;,&quot;user_id&quot;:null,&quot;app_id&quot;:&quot;304763&quot;}" data-range-finder="true" data-segment-enabled="true" data-segment-key="skFpymhfRAXS59SuRtSKZymlzxASx4JO">

  <script type="text/javascript">

  </script>


  <title>MasterClass Online Classes</title>

  <meta content="MasterClass is an online education company that creates classes with the best in the world. Learn from James Patterson, Dustin Hoffman, and Serena Williams." name="description" />
  <meta content="masterclass, online education, online classes, entertainment" name="keywords" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <link rel="stylesheet" media="screen" href="https://do6eyjibs3jse.cloudfront.net/assets/static_homepage/application-9ee5130110a3485fde585eeaed541687.css" />
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="SQJa7+Z6q/O7703FTjR9h151IksxiK0TkoE+fWoK+qtGm1RFp4hTivXcVGomjqm+qQLlyeO3FD9ir5FwQktT2Q==" />

  <style touch-action="none">{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>

  <link href="//fonts.googleapis.com/css?family=Raleway:400,200,600&amp;subset=all" rel="stylesheet" type="text/css" />

  <meta content="1438642769784622" property="fb:app_id" />
  <meta content="website" property="og:type" />
  <meta content="https://www.masterclass.com/" property="og:url" />
  <meta content="MasterClass" property="og:site_name" />
  <meta data-km-identity="DkcM6VUjFfhjHbinl6ibeA" name="user-metadata" />

  <script src="//cdn.optimizely.com/js/384270155.js" type="text/javascript"></script>
  <script type="text/javascript">dataLayer = [];</script>
  <noscript>
    <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-NMGRPK" style="display:none;visibility:hidden" width="0"></iframe>
  </noscript>
  <script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NMGRPK');</script>
  <script type="text/javascript">function _kms(u) {
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);

      s.onerror = function() {
        if (typeof Raygun == 'object') {
          Raygun.send("Loading script failed: " + u);
        }
      }
    }, 1);
  }

  var _kmq = _kmq || [];
  var _kmk = _kmk || "5ffc7e0c56a1618dd521bd58e28043c2c9aa5f7f";

  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  _kmq.push(['identify', "DkcM6VUjFfhjHbinl6ibeA"]);</script>

  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
  <link href="https://do6eyjibs3jse.cloudfront.net/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="https://do6eyjibs3jse.cloudfront.net/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="https://do6eyjibs3jse.cloudfront.net/favicon-194x194.png" rel="icon" sizes="194x194" type="image/png" />
  <link href="https://do6eyjibs3jse.cloudfront.net/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
  <link href="https://do6eyjibs3jse.cloudfront.net/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png" />
  <link href="https://do6eyjibs3jse.cloudfront.net/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
  <link href="/manifest.json" rel="manifest" />
  <meta content="#4d5767" name="msapplication-TileColor" />
  <meta content="https://do6eyjibs3jse.cloudfront.net/mstile-144x144.png" name="msapplication-TileImage" />
  <meta content="#ffffff" name="theme-color" />
  <meta content="1438642769784622" property="fb:app_id" />
  <meta content="website" property="og:type" />
  <meta content="https://www.masterclass.com/" property="og:url" />
  <meta content="MasterClass" property="og:site_name" />
  <meta content="https://d3p2cblwo1gy9o.cloudfront.net/images/183/original/fb_image_homepage.jpg?1438203980" property="og:image" />
  <meta content="630" property="og:image:height" />
  <meta content="1200" property="og:image:width" />
  <meta content="A MasterClass is a class given to students of a particular discipline by an expert of that discipline. Turn to us when you wish to further your expertise in your chosen area of interest!" property="og:description" />

  <!-- local stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>
</head>
