<div id="masterclass-notification-navbar" role="navigation">
  <h1 class="tagline">MasterClass gives you Access to Genius</h1>
  <h1 class="small-tagline">MasterClass</h1>
  <div class="header-content-container">
    <ul class="nav-module-element nav-module-element-left" role="menubar"></ul>
    <ul class="nav-module-element nav-module-element-right" role="menubar">
      <li>
        <button aria-haspopup="true" class="nav-module-element-top-level account" data-target="#modal_sign_form" data-toggle="modal" id="modal_button_in" role="menuitem" tabindex="1">
          Sign In
        </button>
      </li>
      <li>
        <button aria-haspopup="true" class="nav-module-element-top-level account create-account" data-target="#modal_create_form" data-toggle="modal" id="modal_button_up" role="menuitem" tabindex="1">
          Sign Up
          <div class="sign-up-box"></div>
        </button>
      </li>
    </ul>
  </div>
</div>
