<div id="background">
  <div id="background-image">
    <img alt="Aaron Sorkin, writer of The Social Network and The West Wing, looks at the camera during his online screenwriting class where he teaches writing scripts and screenplays for film and television." src="https://d30b401hznjia8.cloudfront.net/images/289/original/1466571803-AS_Hero_Hero_V4_A.jpg?1466571803" />
  </div>
</div>
