<section class="blocks-holder" id="mc-coming-soon-courses">
  <h2>Coming Soon To MasterClass</h2>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/annie-leibovitz-teaches-photography">
        <span data-image-alt="Annie Leibovitz sits on the floor before teaching a lesson in her photography MasterClass" data-image-class="mc-course-banner-image" data-image-slug="annie-leibovitz-teaches-photography" data-image-url="https://d30b401hznjia8.cloudfront.net/images/133/original/1460067036-PR-al-banner-v1.jpg?1460067036" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/annie-leibovitz-teaches-photography" id="coming_soon-course-5" tabindex="-1">
          <h2 class="name">Annie Leibovitz&nbsp;<span class="headline ng-binding">Teaches Photography</span></h2>
        </a>
      </div>
    </div>
  </div>
</section>
