<div id="footer">
  <div id="footer-logo">
    <a class="navbar-brand" href="#">
      <a href="/">
        <span data-image-alt="Click MasterClass logo to return to the homepage" data-image-class="center-image top-spacer-2" data-image-url="images/logo/wistia-logo-flags-text.png" data-loaded-image="true"></span>
      </a>
    </a>
  </div>
  <div class="container footer-columns-container">
    <div class="columns">
      <div class="column">
        <h3>Need Help?</h3>
        <p class="enrolled">We&#39;re here to answer any questions you have about MasterClass or the classes we offer.</p>
        <a href="https://masterclasshelp.zendesk.com">
          <span data-image-alt="Find answers to questions you have about our classes or our company" data-image-class="icon-footer" data-image-url="https://do6eyjibs3jse.cloudfront.net/assets/support-icons-5c67b930c2bdefdebe4d405483174143.png" data-loaded-image="true"></span>
        </a>
        <p class="support"></p>
      </div>
      <div class="column">
        <h3>Safe &amp; Sound</h3>
        <p>Your MasterClass purchase is secure. We never share your personal information.</p>
        <a href="https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.masterclass.com" rel="nofollow" target="_blank">
          <span data-image-alt="MasterClass has an Expedited SSL Scanner icon because we are a secure website" data-image-class="ssl-image-old" data-image-url="https://do6eyjibs3jse.cloudfront.net/assets/SSL-seal@1x-7a20cadaac154bf8532869fb7d3970b5.png" data-loaded-image="true"></span>
        </a>
      </div>
      <div class="column">
        <h3>Let&#39;s Be Friends</h3>
        <p class="enrolled">MasterClass is on all your favorite social networks. Come say hello!</p>
        <div class="icon-footer"></div>
        <a href="https://www.facebook.com/wistia">
          <span data-image-alt="Become a Wistia fan on Facebook for class updates" data-image-class="icon-footer-social" data-image-url="https://do6eyjibs3jse.cloudfront.net/assets/icons/social-facebook-eb3f36623de352a8487980ee9ef51d9c.png" data-loaded-image="true"></span>
        </a>
        <a href="https://www.twitter.com/wistia">
          <span data-image-alt="Follow Wistia on Twitter for class updates" data-image-class="icon-footer-social" data-image-url="https://do6eyjibs3jse.cloudfront.net/assets/icons/social-twitter-0104c8b5963eea57b9eb98a6c9c44706.png" data-loaded-image="true"></span>
        </a>
        <a href="https://instagram.com/wistia">
          <span data-image-alt="Follow Wistia on Instagram for class updates" data-image-class="icon-footer-social" data-image-url="https://do6eyjibs3jse.cloudfront.net/assets/icons/social-instagram-a4ee6bc0b7f844572a37ac7c3d0c045b.png" data-loaded-image="true"></span>
        </a>
      </div>
    </div>
    <div class="footer-holder">
      <div class="footer-frame">
        <span>Copyright © 2016 Wistia</span>
        <nav>
          <ul class="footer-nav">
            <li>
              <a href="https://wistia.com/support">Help Center</a>
            </li>
            <li>
              <a href="https://wistia.com/support/contact">Contact Us</a>
            </li>
            <li>
              <a href="https://wistia.com/privacy">Privacy</a>
            </li>
            <li>
              <a href="https://wistia.com/terms">Terms</a>
            </li>
            <li>
              <a href="https://wistia.com/jobs">Jobs</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
