<a id="homepage-hero-link" href="/as">
  <div class="visual">
    <div id="homepage-hero">
      <div class="mc-logo">
        <img class="img-responsive" src="images/logo/wistia-logo-white.png" alt="Mc logo" />
      </div>
      <div class="link-holder">
        <a class="link" href="#photo_section" id="photo_section_anchor" tabindex="-1">
          <span class="icon-svg3"></span>browse classes<span class="icon-svg3"></span>
        </a>
      </div>
      <span class="caption">usher teaches you dancing</span>
    </div>
  </div>
</a>
