<section class="blocks-holder" id="mc-recommended-courses">
  <h2>Now Available From MasterClass</h2>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/aaron-sorkin-teaches-screenwriting">
        <span data-image-alt="Aaron Sorkin, academy award winning screenwriter, teaches students how to write scripts with unforgettable dialogue, characters and stories for movies and TV" data-image-class="mc-course-banner-image" data-image-slug="aaron-sorkin-teaches-screenwriting" data-image-url="https://d30b401hznjia8.cloudfront.net/images/286/original/1466552319-AS-banner-V1_B.jpg?1466552319" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/aaron-sorkin-teaches-screenwriting" id="coming_soon-course-10" tabindex="-1">
          <h2 class="name">Aaron Sorkin&nbsp;<span class="headline ng-binding">Teaches Screenwriting</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/werner-herzog-teaches-filmmaking">
        <span data-image-alt="Werner Herzog looks at the camera as part of his online class on directing, shooting and making documentary and feature films. " data-image-class="mc-course-banner-image" data-image-slug="werner-herzog-teaches-filmmaking" data-image-url="https://d30b401hznjia8.cloudfront.net/images/244/original/1468292255-WH-banner-v7-1.jpg?1468292255" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/werner-herzog-teaches-filmmaking" id="coming_soon-course-9" tabindex="-1">
          <h2 class="name">Werner Herzog&nbsp;<span class="headline ng-binding">Teaches Filmmaking</span>
          </h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/christina-aguilera-teaches-singing">
        <span data-image-alt="Christina Aguilera will teach you how to sing in her MasterClass" data-image-class="mc-course-banner-image" data-image-slug="christina-aguilera-teaches-singing" data-image-url="https://d30b401hznjia8.cloudfront.net/images/195/original/1460066721-PR-ca-banner-v2.jpg?1460066721" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/christina-aguilera-teaches-singing" id="coming_soon-course-7" tabindex="-1">
          <h2 class="name">Christina Aguilera&nbsp;<span class="headline ng-binding">Teaches Singing</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/james-patterson-teaches-writing">
        <span data-image-alt="Best-selling author James Patterson prepares to teach his writing MasterClass" data-image-class="mc-course-banner-image" data-image-slug="james-patterson-teaches-writing" data-image-url="https://d30b401hznjia8.cloudfront.net/images/159/original/1460067498-PR-JP-banner-v2.jpg?1460067498" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/james-patterson-teaches-writing" id="coming_soon-course-1" tabindex="-1">
          <h2 class="name">James Patterson&nbsp;<span class="headline ng-binding">Teaches writing</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/kevin-spacey-teaches-acting">
        <span data-image-alt="Kevin Spacey looks the camera while teaching an acting lesson in his online MasterClass" data-image-class="mc-course-banner-image" data-image-slug="kevin-spacey-teaches-acting" data-image-url="https://d30b401hznjia8.cloudfront.net/images/230/original/1460066572-PR-ks-banner-v2.jpg?1460066572" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/kevin-spacey-teaches-acting" id="coming_soon-course-8" tabindex="-1">
          <h2 class="name">Kevin Spacey&nbsp;<span class="headline ng-binding">Teaches Acting</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/serena-williams-teaches-tennis">
        <span data-image-alt="Serena Williams prepares to teach her MasterClass on the tennis court" data-image-class="mc-course-banner-image" data-image-slug="serena-williams-teaches-tennis" data-image-url="https://d30b401hznjia8.cloudfront.net/images/177/original/1460066980-PR-sw-banner-v2.jpg?1460066980" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/serena-williams-teaches-tennis" id="coming_soon-course-6" tabindex="-1">
          <h2 class="name">Serena Williams&nbsp;<span class="headline ng-binding">Teaches Tennis</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/dustin-hoffman-teaches-acting">
        <span data-image-alt="Dustin Hoffman sits in a chair while teaching a lesson in his acting MasterClass" data-image-class="mc-course-banner-image" data-image-slug="dustin-hoffman-teaches-acting" data-image-url="https://d30b401hznjia8.cloudfront.net/images/181/original/1460067179-PR-dh-banner-v2.jpg?1460067179" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/dustin-hoffman-teaches-acting" id="coming_soon-course-4" tabindex="-1">
          <h2 class="name">Dustin Hoffman&nbsp;<span class="headline ng-binding">Teaches Acting</span></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="holder">
    <div class="item-block">
      <a href="/classes/usher-teaches-the-art-of-performance">
        <span data-image-alt="Usher demonstrates how to command the stage during his performance MasterClass" data-image-class="mc-course-banner-image" data-image-slug="usher-teaches-the-art-of-performance" data-image-url="https://d30b401hznjia8.cloudfront.net/images/113/original/1460067316-PR-ur-banner-v2.jpg?1460067316" data-loaded-image="true"></span>
      </a>
      <div class="caption-box">
        <a href="/classes/usher-teaches-the-art-of-performance" id="coming_soon-course-2" tabindex="-1">
          <h2 class="name">Usher&nbsp;<span class="headline ng-binding">Teaches The Art of Performance</span></h2>
        </a>
      </div>
    </div>
  </div>
</section>
