<div class="blocks-holder">
  <h2>More about MasterClass</h2>
  <div class="holder">
    <div class="item-block" id="about-us">
      <span data-image-alt="MasterClass on set producing Dustin Hoffman&amp;#39;s acting class" data-image-class="mc-about-us-image" data-image-url="https://d2w3nwo7h9oz5s.cloudfront.net/homepage/about-us-banner.jpg" data-loaded-image="true"></span>
      <div class="text-box">
        <h3>Access To Genius</h3>
        <p>MasterClass offers online classes created for students of all skill levels. Our instructors are the best in the world.</p>
        <a class="blog" href="http://news.masterclass.com/">Read More<span class="icon-svg2"></span></a>
      </div>
    </div>
  </div>
</div>
