<div class="m-social-block">
  <h3>stay up to date with Wistia</h3>
</div>
<ul class="m-social-links">
  <li class="m-social-links__list">

    <a alt="Learn from the world&#39;s best @Wistia:" href="http://twitter.com/share?text=Learn from the world&#39;s best @wistia:&amp;url=https://www.twitter.com/wistia">
      <span data-image-class="social_icons" data-image-alt="Follow Wistia on Twitter for video updates" data-image-url="images/social_medias/twitter-icon-circle-logo.png" data-loaded-image="true"></span>

  </li>
  <li class="m-social-links__list">
    <a alt="Become a Wistia fan on Facebook for video updates" href="https://www.facebook.com/wistia">
      <span data-image-class="social_icons" data-image-alt="Follow Wistia on Facebook for class updates" data-image-url="images/social_medias/facebook.png" data-loaded-image="true"></span>
    </a>
  </li>
  <li class="m-social-links__list">
    <a alt="Sign up for MasterClass emails for class updates" href="https://dribbble.com/wistia">
      <span data-image-class="social_icons" data-image-alt="Follow Wistia on Dribbble for class updates" data-image-url="images/social_medias/dribbble-icon.png" data-loaded-image="true"></span>
    </a>
  </li>
</ul>
