<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>

<body class="inner inner2 root " id="pages">
  <%- include ../partials/header_nav %>

  <%- include ../partials/body %>

</body>

</html>
